examples/document-upload-workflow.json
{
  "name": "Neo4j Document Upload Workflow",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Upload Document for Vector Storage",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Document Text",
              "fieldType": "textarea",
              "requiredField": true,
              "fieldOptions": {
                "placeholder": "Enter your document text here..."
              }
            },
            {
              "fieldLabel": "Document Title",
              "fieldType": "text",
              "requiredField": true,
              "fieldOptions": {
                "placeholder": "Document title or name"
              }
            },
            {
              "fieldLabel": "Category",
              "fieldType": "text", 
              "requiredField": false,
              "fieldOptions": {
                "placeholder": "Optional category"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [80, 180],
      "id": "form-trigger",
      "name": "Document Upload Form"
    },
    {
      "parameters": {
        "resource": "vectorStore",
        "operation": "addTexts",
        "texts": "={{ $json['Document Text'] }}",
        "metadatas": [{"title": "={{ $json['Document Title'] }}", "category": "={{ $json['Category'] || 'general' }}", "uploaded_at": "={{ new Date().toISOString() }}"}]
      },
      "type": "CUSTOM.neo4j",
      "typeVersion": 1,
      "position": [480, 180],
      "id": "add-document",
      "name": "Add to Vector Store",
      "credentials": {
        "neo4jApi": {
          "name": "Neo4j account"
        }
      }
    },
    {
      "parameters": {
        "resource": "graphDb",
        "cypherQuery": "MATCH (d:Document) RETURN count(d) as total_documents, max(d.uploaded_at) as last_upload"
      },
      "type": "CUSTOM.neo4j",
      "typeVersion": 1,
      "position": [680, 180],
      "id": "get-stats",
      "name": "Get Upload Stats",
      "credentials": {
        "neo4jApi": {
          "name": "Neo4j account"
        }
      }
    }
  ],
  "connections": {
    "Document Upload Form": {
      "main": [
        [
          {
            "node": "Add to Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add to Vector Store": {
      "main": [
        [
          {
            "node": "Get Upload Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "document-upload"
  }
}